body{
	background:#B3B3B3;
	font-size: 150%;
	margin:4%;
}

header
{
	background: #666666;
	text-align: center;
	padding: 15px;
}

h1{
	color: #FFFFFF;
}

nav{
	font-variant: small-caps;
	font-size: 150%;
	font-family: Arial, "Times New Roman", serif;
	
}

h2{
	color: #666666;
	background: #00B7EA;
}

section{
	display: inline-block;
	width: 30%;
	float: left;
	margin: 5px;
}

details{
	font-style: italic;
	
}
summary{
	font-style: normal;
}

footer{
	clear: left;
	background: #666666;
}
img{
	width: 75px;
}